h1{
    color: darkblue;
}
h6{
    color: darkblue;
    font-size: 14px
}
p{
    color: red;
}
pre{
    background-color: black;
    color: yellow;
    font-size: 4px;
}
body{
    background-color: aliceblue;
}